:root {
    --main-color: #FFFFFF;
    --logo-color: #4d5ae5;
    --logo-header-color: #2E2F42;
    --logo-footer-color: #F4F4FD;
    --action-btn:#404BBF;
    --btn-color:#434455 ;
    --nav-text-color:#2E2F42;
    --discribe-link-color:#434455;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

.link{
    text-decoration: none;
}

.link-list{
    text-decoration: none;
}

.list{
    list-style: none;
}

.button{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455 ;
    background-color: #FFFFFF;
}
/* <====================HEADER====================> */



.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    color:  #434455;
}

.link-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    color:  #2E2F42;
}

.contact-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    color:  #434455;
}

.link-list:hover,
.link-list:focus{
    color: #404BBF;
}

.address{
    font-style: normal;
}

.contact{
    color: var(--discribe-link-color);
}


.link:hover,
.link:focus{
    color:  #404BBF;
}

.title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.logo,
.top-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo{
    color: #4D5AE5;
    text-decoration: none;
}   


.top-logo{
    color: #2E2F42;
    text-decoration: none;
}

.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.1;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
}

.hero-title{
position: absolute;
max-width: 496px;
height: 120px;
left: 472px;
top: 260px;

font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
}

.promo-title{
    /* font-weight: 700; */
    font-size: 36px;
    line-height: 1.11;  
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.subtitle{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.footer{
    background-color: #2e2f42;
}

.page-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    color: #2E2F42;
   
}

.text-footer{
    color: #FFFFFF;
}
/* =====================PAGE#1==================== */

.hero{
    background-color: #2e2f42 ;
}

.hero-title{
    line-height: 1.07;
    color: #FFFFFF;
}

.contact-list{
    color:#2E2F42;
}

.hero-batton{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    height: 56px;
    display: block;
    
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px; */
    border: none;
    position: absolute;
    min-width: 169px;
    min-height: 56px;
    left: 636px;
    top: 428px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-batton:hover{
    background-color: #404BBF; 
}

.hero-batton:focus{
    background-color: #404BBF;
}

.team-list-item{
    background-color: #FFFFFF;
}

.section-team{
    background-color: #F4F4FD
}


/* =====================PAGE#2==================== */

.buttons-filter{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--logo-color) ;
    background-color:var(--logo-footer-color);
    
    border: 1px solid #E7E9FC;
    border-radius: 4px;

}



.buttons-filter:hover{
    color: #FFFFFF ;
    background-color: #404BBF;
}

.buttons-filter:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}

/* <=================HOMEWROEK#3=====================> */

.container{
    width: 1158px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
      }

    /* *::before,
    *::after {
    box-sizing: inherit;
} */

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-nav{
    display: flex;
    align-items: center;
}

.page-header-container{
    display: flex;
    align-items: center;    
}

.menu-list{
    display: flex;
    /* align-items: center; */
    padding-top: 24px;
    padding-bottom: 24px;
}

.address{
    display: flex;
}

.logo{
    margin-right: 76px;
}

.contact-list{
    margin-right:40px;
}

.contact{
    /* margin-left: auto; */
    display: flex;
}
 
.nav-item:not(:last-child){
    margin-right:40px ;
}

.contact-item{
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-header-container .logo{
    margin-right: 76px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.page-header{
    border-bottom: 1px solid #e7e9fc;
}

.logo{
    /* margin-left: 156px; */
    padding-bottom: 100px;
}

.hero{
    padding-top: 188px;
    padding-bottom: 188px;
    
}   

.list{
    display:flex;
}

.privelege-list:not(:last-child){
    margin-right: 24px;
}

.privelege-list{
    width: calc((100% - 48px) / 3);
}

.promo-list{
    /* width: calc((100% - 72px) / 4); */
    /* border-radius: 0px 0px 4px 4px; */
}

.promo-list-item{
    display: flex;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #E7E9FC;
}

.promo-list-item:not(:last-child){
    margin-right: 24px;
    
}

.main .promo{
    padding-top: 0;
}
 
.promo-title{
    margin-bottom: 72px;
}

.section-name{
    margin-bottom: 8px;
}

.job-title{
    padding: 32px 16px 32px;
}

.promo-list-item{
    width: calc((100% - 72px) / 4);
}

.team-list-item:not(:last-child){
    margin-right: 24px;
}

.team-list-item{
    calc((100% - 48px) / 3);
}

.title{
    padding-top: 32px;
    text-align: center;

}

.text{
    padding-top: 8px;
    padding-bottom: 32px;
    text-align: center;
}

.footer{
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-footer{
    padding-bottom:100px ;
    padding-top: 17px;
    padding-left: 156px;
}

/* <=====================P2============================> */

.site-nav{
    display: flex;
    align-items: center;
}

.item-menu:not(:last-child){
    margin-right: 40px;
}

.contact-list{
    display: flex;
}

.contact-item:not(:last-child){
    margin-right: 40px;
    /* margin-right: auto; */
}
 
                     /* <=======buttons=======> */
.filter:not(:last-child){
    margin-right: 24px;
}

               /* <!-- SECTIOT PHOTO --> */
.list-photo{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}       

